set -g prefix2 C-t
set -g history-limit 1000000
bind C-t send-prefix
bind t send-prefix

set-window-option -g mode-keys vi

# Logging start/stop:
bind-key H pipe-pane 'cat >> $HOME/.tmux/tmux-#W.log' \; display-message 'Started logging to $HOME/.tmux/tmux-#W.log'
bind-key h pipe-pane \; display-message 'Ended logging to $HOME/.tmux/tmux-#W.log'
